PRODUCT_BUNDLE_IDENTIFIER = kr.co.hanul.logiflow
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
IPHONEOS_DEPLOYMENT_TARGET = 15.0
DEVELOPMENT_TEAM = YOUR_APPLE_TEAM_ID
CODE_SIGN_STYLE = Automatic
